<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.proof.recorder"

    android:versionCode="9"
    android:versionName="1.2.6" >
    <!-- android:installLocation="preferExternal" -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" >
    </uses-permission>

    <!-- Required permission to check licensing. -->
    <!-- <uses-permission android:name="com.android.vending.CHECK_LICENSE" ></uses-permission> -->

    <!-- Required permission to GCM -->
    <!-- <permission -->
    <!-- android:name="org.proof.recorder.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->


    <!-- <uses-permission android:name="org.proof.recorder.permission.C2D_MESSAGE" ></uses-permission> -->
    <!-- Others Required permission for GCM -->
    <!-- App receives GCM messages. -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" ></uses-permission> -->
    <!-- GCM connects to Google Services. -->
    <!-- <uses-permission android:name="android.permission.INTERNET" ></uses-permission> -->
    <!-- GCM requires a Google account. -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" ></uses-permission> -->


    <!-- Keeps the processor from sleeping when a message is received. -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" ></uses-permission> -->
    <!-- Required permission to use in-app billing. -->
    <!-- <uses-permission android:name="com.android.vending.BILLING" ></uses-permission> -->


    <!-- <permission android:name="org.proof.recorder.XFBSIMPLE" android:protectionLevel="signature"></permission> -->
    <!-- <uses-permission android:name="org.proof.recorder.XFBSIMPLE"></uses-permission> -->

    <permission
        android:name="org.proof.recorder.DBPERM"
        android:label="Provider Permissions"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.proof.recorder.DBPERM" />

    <uses-permission android:name="org.proofs.recorder.codec.ogg.OGG_SECURE_PG" />


    <application
        android:name="MonApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ProofRecorderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/Theme.Sherlock.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- IN APP BILLING -->


        <!--
        <activity
            android:name=".billing.vending.ProofStore"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ProofStore" />
            </intent-filter>
        </activity>

        END APP BILLING
        
         <activity android:name=".simplexfb.FtpFragment"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:theme="@style/Theme.Sherlock.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.FtpFragment"/>
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".fragment.dialog.VoiceEditDialog"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/voice_edit_dialog_title"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.VoiceEditDialog" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name=".fragment.dialog.ShareIntentChooser"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:label="@string/share_intent_chooser_title"-->
        <!--android:theme="@style/Theme.Sherlock" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.ShareIntentChooser" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".fragment.dialog.Search"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/search_dialog_title"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.Search" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.dialog.SearchByDates"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/alert_dlg_datepicker_title"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SearchByDates" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.search.SearchResult"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SearchResult" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.dialog.NoneRecordsDialog"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/none_records_dialog_title"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NoneRecordsDialog" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.dialog.AboutApps"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.AboutApps" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.dialog.PluginsInformations"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.Plugins" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.dialog.PhoneInformations"
            android:label="@string/dashboard_dialog_title"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.PhoneInformations" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity
             android:name=".fragment.dialog.ApplicationInformations"
             android:label="@string/app_name"
             android:theme="@style/Theme.Sherlock" >
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.ApplicationInformations" />
             </intent-filter>
         </activity>-->
        <activity
            android:name=".preferences.SettingsTabs"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SettingsTabs" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.Preference"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.Preference" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.DeviceCapabilities"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DeviceCapabilities" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".syncron.fragment.SyncronUi"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock.Light.Dialog" android:permission="org.proof.recorder.XFBSIMPLE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SyncronUi" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".preferences.FormulaPreferences"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.FormulaPreferences" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".preferences.ServerAccount"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ServerAccount" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".fragment.voice.FragmentListVoiceTabs"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentListVoiceTabs" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  <activity
              android:name=".fragment.voice.FragmentVoiceTabs"
              android:label="@string/app_name"
              android:theme="@style/Theme.Sherlock.Light" >
              <intent-filter>
                  <action android:name="android.intent.action.FragmentVoiceTabs" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
          </activity>-->
        <activity
            android:name=".fragment.voice.FragmentListVoiceDetail"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentListVoiceDetail" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- stop the recreation of the activity on Orientation Change -->
        <activity
            android:name=".fragment.voice.FragmentVoiceMediaRecorder"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentVoiceMediaRecorder" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.phone.FragmentListRecordFoldersTabs"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentListRecordFoldersTabs" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.phone.FragmentListRecordDetail"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentListRecordDetail" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.notes.FragmentListNotes"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentNotesEditor" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  <activity
              android:name=".fragment.notes.FragmentNotes"
              android:label="@string/app_name" >
              <intent-filter>
                  <action android:name="android.intent.action.FragmentNotesEditor" />

                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
          </activity>-->
        <activity
            android:name=".fragment.notes.FragmentNoteTabs"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentNoteTabs" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity
             android:name=".fragment.notes.FragmentNotesEditor"
             android:label="@string/app_name" >
             <intent-filter>
                 <action android:name="android.intent.action.NotesEditorFragment" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>-->
        <activity
            android:name=".fragment.voice.notes.FragmentListVoiceNotes"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentVoiceNotesEditor" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <activity
                    android:name=".fragment.voice.notes.FragmentVoiceNotes"
                    android:label="@string/app_name" >
                    <intent-filter>
                        <action android:name="android.intent.action.FragmentVoiceNotesEditor" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>-->
        <activity
            android:name=".fragment.voice.notes.FragmentVoiceNoteTabs"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentVoiceNoteTabs" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--       <activity
                   android:name=".fragment.voice.notes.FragmentVoiceNotesEditor"
                   android:label="@string/app_name" >
                   <intent-filter>
                       <action android:name="android.intent.action.VoiceNotesEditorFragment" />

                       <category android:name="android.intent.category.LAUNCHER" />
                   </intent-filter>
               </activity>-->
        <activity
            android:name=".fragment.contacts.FragmentListPhoneContactsTabs"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.FragmentListPhoneContactsTabs" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.phone.FragmentListRecordTabs"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.FragmentListRecordTabs" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
 		<activity
            android:name=".wigdet.WidgetPreferenceFormat"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.WidgetPreferenceFormat" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Services -->
        <!-- <service
             android:name=".service.ServiceAudioRecord"
             android:enabled="true" />
         <service
             android:name=".service.ServiceSchd"
             android:enabled="true" />-->

        <!--
        <service
            android:name=".simplexfb.FtpCli"
            android:enabled="true" android:permission="org.proof.recorder.XFBSIMPLE"/>
        
        <service android:name=".service.GCMIntentService" />
        
        <service android:name=".billing.vending.BillingService" />
        -->

        <service
            android:name=".service.VerifyContactsApi"
            android:enabled="true" />
        <!--    <service
                android:name=".service.jni.Converter"
                android:enabled="true" />-->
        <service
            android:name=".services.ServiceIntentRecorder3gp"
            android:enabled="true" />
        <service
            android:name=".services.ServiceIntentRecorderWav"
            android:enabled="true" />
        <service
            android:name=".services.MP3Middleware"
            android:enabled="true" />
        <service
            android:name=".services.OGGMiddleware"
            android:enabled="true" />
        
        <service
            android:name=".wigdet.ProofRecorderWidget$MBuildUpdate"
            android:enabled="true" />
		<service
            android:name=".services.SoundCloudBgUploader"
            android:enabled="true" />

        <!-- Receivers for BroadCasters -->

        <receiver
            android:name=".scheduling.VerifyContactsApiReceiver"
            android:process=":remote" >
            <action android:name="android.intent.action.CHECK_CONTACTS_ALARM" />
        </receiver>

        <!-- Incoming Calls -->
        <receiver android:name=".broadcastr.phone.AppelsEntrants" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <!-- Outgoing Calls -->
        <receiver android:name=".broadcastr.phone.AppelsSortants" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <!-- Google Analytics -->
        <receiver
            android:name="com.google.android.apps.analytics.AnalyticsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AudioRecorderReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.START_AUDIO_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.STOP_AUDIO_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SAVE_AUDIO_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SAVE_DELAYED_EXTERNAL_AUDIO_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PhoneRecorderReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.START_PHONE_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.STOP_PHONE_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SAVE_PHONE_RECORDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- Widget Broadcast -->
        <receiver android:name=".wigdet.ProofRecorderWidget" >
            <intent-filter>
             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.proof.recorder.wigdet.ProofRecorderWidget.UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.proof.recorder.wigdet.ProofRecorderWidget.ACTION_ENABLE_SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.proof.recorder.wigdet.ProofRecorderWidget.ACTION_UPDATE_SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.proof.recorder.wigdet.ProofRecorderWidget.SET_FORMAT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.proof.recorder.wigdet.ProofRecorderWidget.REC" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_meta" />
        </receiver>

        <!--
        GCM
        <receiver
            android:name=".broadcastr.phone.GCMPersonnal"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.proof.recorder" />
            </intent-filter>
        </receiver>
        -->
        <!-- Alarm manager receiver -->
        <!--
             <receiver
            android:name=".broadcastr.phone.AlarmSchd"
            android:process=":remote" android:permission="org.proof.recorder.XFBSIMPLE">
            <action android:name="android.intent.action.ALERT_SCHD" />
        </receiver>
        -->


        <!--
        <receiver android:name=".billing.vending.BillingReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        -->
        <!--
        Place the following after the Activity
	     Definition
        -->
        <provider
            android:name=".personnal.provider.PersonnalProofContentProvider"
            android:authorities="org.proof.recorder.personnal.provider.PersonnalProofContentProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="org.proof.recorder.DBPERM"
            android:readPermission="org.proof.recorder.DBPERM"
            android:writePermission="org.proof.recorder.DBPERM" />
    </application>

</manifest>
